body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    width: 100px;
    height: 50px;
    background-color: rgb(194, 194, 224);
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
    gap: 6px;
}

button:hover {
    opacity: 0.8;
}